body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
a:hover{
    color: darkgreen;
}
button:hover{
    cursor: pointer;
}
.nav-Container{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 2px 2px lightgrey;
}
.nav-left{
    margin-left: 25px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.nav-left a{
    margin-left: 20px;
}
.logo{
    height: 100px;
    /* width: 100px; */
}
.logo:hover{
    cursor: pointer;
}
.nav-right{
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.nav-right a{
    margin-right: 40px;
}
.nav-right #white{
    margin-right: 20px;
}
.pin-img{
    height: 25px;

}
.nav-button{
    border-radius: 50px;
    width: 75px;
    height: 30px;
    border: 1px solid black;
    /* font-size: 18px; */
}
#white{
    background-color: white;
    color: black;
}
#white:hover{
    background-color: rgb(222, 222, 222);
}
#black{
    background-color: black;
    color: white;
}
#black:hover{
    background-color: rgba(0, 0, 0, 0.676);
}

.home-container{
    /* margin-top: 32px; */
    display: flex;
    flex-direction: column;
}
.adventure-container{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    height: 600px;
}
.adventure-container img{
    width: 50%;
}
.adventure-content{
    color: #FFFFFF;
    /* background-color: #006140; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 125px;
}
#adventure-color{
    background-color: #006140;
}
.adventure-container div{
    font-size: 25px;
    text-align: center;
    /* margin-bottom: 24px; */
}
#play-now{
    background-color: #006140;
    color: white;
    border: 1px solid white;
    margin-top: 32px;
    /* font-weight: 600; */
    font-size: 16px;
    text-align: center;
    width: 100px;
    /* height: 75px; */
    padding:5px;
}
#play-now:hover{
    transition: background-color .5s;
    background-color: #064E34;
}
.m-24{
    margin-bottom: 24px;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
}
#spot1-color{
    background-color: #CBE678;
    color: #1E3832;
}
#order-now{
    background-color: #CBE678;
    color: #1E3832;
    border: 1px solid #1E3832;
    margin-top: 32px;
    /* font-weight: 600; */
    font-size: 16px;
    text-align: center;
    width: 100px;
    /* height: 75px; */
    padding:5px;
}
#order-now:hover{
    background-color: #BAD570;
    transition: background-color .5s;
}
#order-now2{
    background-color: #D4E8E1;
    color: #1E3832;
    border: 1px solid #1E3832;
    margin-top: 32px;
    /* font-weight: 600; */
    font-size: 16px;
    text-align: center;
    width: 100px;
    /* height: 75px; */
    padding:5px;
}
#spot2-color{
    background-color: #D4E8E1;
    color: #1E3832;
}
#order-now2:hover{
    transition: background-color .5s;
    background-color: #C2D6D0;
}
#spot3-color{
    background-color: #CBE87A;
    color: #1E3832;
}
#order-now3{
    background-color: #CBE678;
    color: #1E3832;
    border: 1px solid #1E3832;
    margin-top: 32px;
    /* font-weight: 600; */
    font-size: 16px;
    text-align: center;
    width: 100px;
    /* height: 75px; */
    padding:5px;
}
#order-now3:hover{
    background-color: #BAD570;
    transition: background-color .5s;
}
.giftCard-container{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    height: 350px;
}
#giftCard-color{
    background-color: #D4E8E1;
    color: #1E3832;
}
.giftCard-container img{
    width: 50%;
    height: 95%;
    align-self: center;
}
#gift-img-back{
    background-color: #036140;
}
.giftCard-container div{
    font-size: 22px;
    text-align: center;

    /* margin-bottom: 24px; */
}
.gift-h{
    margin-bottom: 24px;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
}
#join-now{
    background-color: #D4E8E1;
    color: #1E3832;
    border: 1px solid #1E3832;
    margin-top: 32px;
    /* font-weight: 600; */
    font-size: 16px;
    text-align: center;
    width: 100px;
    /* height: 75px; */
    padding:5px;
}
#join-now:hover{
    transition: background-color .5s;
    background-color: #C2D6D0;
}

#delivery-color{
    background-color: #1E3832;
}
#order-now4{
    background-color: #1E3832;
    color: white;
    border: 1px solid white;
    margin-top: 32px;
    /* font-weight: 600; */
    font-size: 16px;
    text-align: center;
    width: 100px;
    /* height: 75px; */
    padding:5px;
}
#order-now4:hover{
    background-color: #182D28;
    transition: background-color .5s;
}

.terms-container{
    /* margin-top: 32px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-content: center;
    padding: 0 40px; */
    box-sizing: border-box;
    margin:0 25% ;
}
.terms-container div{
    padding: 32px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}
.fees-container{
    box-sizing: border-box;
    /* margin:0 25% ; */
    box-shadow: 0px 2px 2px lightgrey;
}
.fees-container div{
    margin: 0 25%;
    padding: 32px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

/* footer */
.extra-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 40px;
}
.about-us{
    display: flex;
    flex-direction: column;

    /* align-items: start; */
}
.vertical-list li{
    padding: 8px 0px;
    margin-bottom: 8px;
}
ul{
    list-style: none;
    padding-left: 0;
}
/* li{
    list-style: none;
    padding-left: 0;
} */
