body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
a:hover{
    color: darkgreen;
}
button:hover{
    cursor: pointer;
}
.nav-Container{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 2px 2px lightgrey;
}
.nav-left{
    margin-left: 25px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.nav-left a{
    margin-left: 20px;
}
.logo{
    height: 100px;
    /* width: 100px; */
}
.logo:hover{
    cursor: pointer;
}
.nav-right{
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.nav-right a{
    margin-right: 40px;
}
.nav-right #white{
    margin-right: 20px;
}
.pin-img{
    height: 25px;

}
.nav-button{
    border-radius: 50px;
    width: 75px;
    height: 30px;
    border: 1px solid black;
    /* font-size: 18px; */
}
#white{
    background-color: white;
    color: black;
}
#white:hover{
    background-color: rgb(222, 222, 222);
}
#black{
    background-color: black;
    color: white;
}
#black:hover{
    background-color: rgba(0, 0, 0, 0.676);
}

.home-container{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}
.adventure-container{
    display: flex;
    flex-direction: row;
    height: 500px;
}
.adventure-container img{
    width: 50%;
}
