*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato,sans-serif;
    font-weight: 300;
}
.header-container{
    min-height: 100vh;
    background-image: url(assets/david-marcu-78A265wPiO4-unsplash-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-container{
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 40px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    font-size: 28px;
    color: white;
    font-weight: 400;
}
.logo:hover{
    cursor: pointer;
}
.nav-content{
    /* width: 100%; */
    font-size: 18px;
}
.nav-content ul{
    /* width: 100%; */
    display: flex;
    padding: 0.2em 0;
    list-style: none;
}
.nav-content ul li:not(:last-child){
    padding:0.1em 0 ;
    margin: auto 0;
}
.nav-content ul li a{
    margin: 0;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 17px;
}
.reg-button{
    /* padding: 0.1em 0; */
    display: flex;
    justify-content: center;
    background-color: #F68619;
}
.nav-content ul li a:hover{
    text-decoration: underline;
}
.headline-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headline-container h1{
    line-height: 1em;
    font-size: 61px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,.3);
}
.headline-container h2{
    text-align: center;
    font-family: Nunito,sans-serif;
    font-weight: 500;
    font-size: 41px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.space{
    margin-bottom: 1.5em;
}
.join-button{
    display: inline-block;
    padding: .35em 1.8em;
    margin-top: 25px;
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: #F68619;
    border: 1px solid #F68619;
    font-size: 24px;
    font-weight: 500;
}
.join-button:hover{
    background-color: #F79332;
    transition: background-color .1s ease-in-out;
}

/* body */
.body-content{
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
}
.add-vertical-align{
    text-align: center;
}
.body-content1{
display: flex;
justify-content: space-between;
/* gap: 40px; */
margin-bottom: 35px;
margin-top: 25px;
height: 250px;
}
.content1-text{
    width: 60%;
    font-weight: 400;
}
.content1-text p{
    margin-bottom: 1.5em;
}
.content1-text a{
    font-weight: 800;
}
iframe{
    display: border-box;
    height: 100%;
    /* --heightA: 100%; */
    /* width: calc(var(--heightA)*2); */
    width: 400px;
}

.why-teach-container{
    margin-left: 50px;
    margin-right: 50px;
}
.why-teach-container h3{
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}
.why-teach-content{
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
}
.why-teach-card{
    margin-bottom: 35px;
    /* width: 30%; */
    word-wrap: break-word;
}
.why-teach-card img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 40%;
    /* align-items: flex-start; */
    /* justify-content: center; */
}
.why-teach-card p{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    line-height: 1.4;
    word-wrap: break-word;
}
